/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(164, 64, 92);
}

img {
  width: 100px;
  height: 50px;
  margin-top: 0;
  margin-right: 100px;
  margin-bottom: 0;
  margin-left: 0;
}

.view-polution-btn {
  margin-top: 20px;
}

.city-card {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.city-card:hover {
  cursor: pointer;
  background-color: rgb(204, 62, 86);
}

.view-polution-btn:hover {
  color: #fff;
  background-color: rgb(145, 54, 80);
}

.cont-city {
  display: grid;
  grid-template-columns: repeat(7, 10rem);
}

.cont-city > div:nth-child(odd) {
  background-color: #dc4782;
}

.cont-city > div:nth-child(even) {
  background-color: #cb4277;
}

.polluted {
  display: block;
  align-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
  max-width: 60%;
  margin: auto;
  border: 1px solid rgb(170, 96, 110);
  background: rgb(224, 133, 146);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.27);
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: #cb4277;
}

.cont-city {
  display: grid;
  justify-content: center;
  flex-flow: wrap;
  grid-template-columns: repeat(2, 1fr);
}

img {
  width: 100px;
  height: 50px;
  margin: auto;
}

.right-arrow {
  color: #fff;
  margin-left: 80%;
}

.arrow-icon {
  color: #fff;
  margin-left: 2%;
}

.mic-icon {
  color: #fff;
  margin-left: 90%;
  margin-right: 10px;
}

.setting-icon {
  color: #fff;
}

.city-card {
  box-shadow: 0 0 2px 0 rgb(26, 15, 19);
}

.city-card:hover {
  cursor: pointer;
}

.popollar {
  display: flex;
}

.polluted {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #fff;
  margin: auto;
  border: 1px solid #cb4277;
  background-color: #cb4277;
}