@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: #cb4277;
}

.cont-city {
  display: grid;
  justify-content: center;
  flex-flow: wrap;
  grid-template-columns: repeat(2, 1fr);
}

img {
  width: 100px;
  height: 50px;
  margin: auto;
}

.right-arrow {
  color: #fff;
  margin-left: 80%;
}

.arrow-icon {
  color: #fff;
  margin-left: 2%;
}

.mic-icon {
  color: #fff;
  margin-left: 90%;
  margin-right: 10px;
}

.setting-icon {
  color: #fff;
}

.city-card {
  box-shadow: 0 0 2px 0 rgb(26, 15, 19);
}

.city-card:hover {
  cursor: pointer;
}

.popollar {
  display: flex;
}

.polluted {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #fff;
  margin: auto;
  border: 1px solid #cb4277;
  background-color: #cb4277;
}
